:root {
  --mt-theme-color: #0057fc;
  --mt-theme-color-2: #ffe815;
  --mt-heading-color: #0a0e1a;
  --mt-body-color: #57595c;
  --mt-theme-nblue: #001c52;
  --mt-common-black: #0a0e1a;
  --mt-cream: #ffe8cd;
  --mt-gray: #b1b4ba;
  --mt-warm-color: #fbf6ef;
  --mt-black: black;
  --mt-white: #ffffff;
  --mt-sweet-vanilla: #eeebe6;
}
