@use "../../utils/" as *;

.mt-about-box {
  padding-left: 42px;

  @media #{$xl} {
    padding-left: 20px;
  }

  @media #{$lg,$md,$xs} {
    padding-left: 0px;
  }
}

.mt-about {
  &-img {
    @media #{$xs} {
      margin-bottom: 30px !important;
      padding-left: 0px !important;
    }
  }

  &-video {
    padding-left: 110px;

    @media #{$xl} {
      padding-left: 20px;
    }

    @media #{$lg,$md,$xs} {
      padding-left: 0px;
    }

    &-icon {
      & a {
        width: 80px;
        height: 80px;
        border: 1px solid #57595c;
        border-radius: 50%;
        text-align: center;
        line-height: 75px;
        display: inline-block;
      }
    }

    & h4 {
      font-size: 30px;
      color: var(--mt-body-color);
    }
  }
}

.mt-about-shape-1 {
  top: 25%;
  left: 0;
  z-index: 1;
}

.mt-about-shape-2 {
  left: 35%;
  top: 35%;
  z-index: 1;
}

.mt-about-shape-3 {
  top: 0;
  right: 0;
  z-index: 1;
}

.mt-about-content {
  & ul {
    & li {
      list-style: none;
      margin-bottom: 20px;
      & i {
        font-size: 30px;
        font-weight: 300;
        color: #000;
        margin-right: 10px;
      }
      & span {
        font-family: var(--mt-font-heading);
        font-size: 30px;
        line-height: 1.33%;
        color: #0a0e1a;
      }
    }
  }
}
.mt-about-circal-img {
  position: absolute;
  top: 0;
  left: -180px;
}
