@use '../../utils/' as *;

.mtblog {
  &__thumb {
    & img {
      border-radius: 20px;
    }
  }

  &__content {
    @media #{$lg,$md} {
      padding-left: 0 !important;
    }
  }

  &__title {
    font-size: 30px;
    color: var(--mt-heading-color);
    line-height: 1.25;
    font-weight: 600;
    &:hover {
      color: var(--mt-theme-color);
    }
    @media #{$lg} {
      font-size: 25px;
    }
  }

  &__meta {
    & span {
      font-size: 17px;
      color: var(--mt-body-color);

      & i {
        margin-right: 8px;
      }
    }

    & cite {
      width: 2px;
      height: 16px;
      display: inline-block;
      background-color: var(--mt-body-color);
      margin: 0 15px;
    }
  }
  &-2 {
    border: 1px solid #57595c;
    position: relative;

    .mtblog__thumb {
      width: 200px;
      height: 100%;
      flex: 0 0 auto;
      position: absolute;
      top: 0;
      left: 0;
      transform: translateY(-12px);
      margin-left: -3px;
      & img {
        height: calc(100% + 24px);
        object-fit: cover;
      }
    }
    .mtblog__content {
      padding-left: 228px;
      padding-top: 23px;
      padding-bottom: 23px;
    }
  }
}
