@use "../../utils/" as *;

.mt-hero {
  @media #{$xxlm} {
    padding-left: 80px;
  }
  &-space {
    @media #{$xs} {
      padding-top: 180px !important;
      padding-bottom: 100px !important;
    }
  }

  &-title {
    color: #fff;
    font-size: 110px;
    text-transform: uppercase;
    line-height: 1.2;
    margin: 0;

    @media #{$xl} {
      font-size: 100px;
    }

    @media #{$lg} {
      font-size: 75px;
    }

    @media #{$md} {
      font-size: 65px;
    }
    @media #{$xs} {
      font-size: 45px;
    }

    & span {
      background: radial-gradient(
        42.24% 2817.5% at 52.45% 54.17%,
        rgba(255, 232, 21, 0.95) 0%,
        #3c7fff 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    & i {
      font-size: 30px;
      color: #b1b4ba;
      font-style: normal;
      display: inline-block;
      transform: translateY(-10px);
      margin-right: 50px;
      @media #{$xs} {
        font-size: 15px;
      }
    }
    &-2 {
      font-family: var(--mt-font-heading);
      font-weight: 400;
      font-size: 100px;
      line-height: 120%;
      text-transform: uppercase;
      color: #fff;
    }
  }
  &-desc {
    & p {
      font-size: 30px;
      font-family: var(--mt-font-heading);
      font-weight: 400;
      line-height: 133%;
      color: #b1b4ba;
      margin: 0;
      margin-right: 60px;
      @media #{$xs} {
        font-size: 15px;
      }
    }
  }
  &-url {
    &-bg {
      width: 30px;
      height: 65px;
      background: #fff;
      opacity: 0.2;
      display: inline-block;
    }
    &-box {
      & a {
        display: flex;
        align-items: center;
      }
      & i {
        color: #b1b4ba;
        font-size: 52px;
        display: inline-flex;
        margin-left: -25px;
      }
    }
  }
}

.hero-info {
  font-size: 15px;
  color: #b1b4ba;
  font-family: var(--mt-font-body);
  width: 100px;
  height: 100%;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  z-index: 11;
  white-space: nowrap;
  border-right: 2px solid rgb(255, 255, 255, 0.15);

  & a {
    color: #b1b4ba;
  }

  & .hero-social {
    display: block ruby;
    transform: rotate(-90deg);
  }

  & .hero-info-text {
    display: block ruby;
    transform: rotate(-90deg);
  }
}

.mt-hero {
  &-shape-1 {
    top: 370px;
    left: -50px;
    z-index: 1;

    @media #{$lg} {
      top: 350px;
      left: -100px;
    }
    @media #{$xs} {
      top: 40%;
      left: -100px;
    }
  }
}

.mt-hero {
  &-shape-2 {
    left: 380px;
    top: 299px;
    z-index: 1;

    @media #{$xl} {
      width: 30%;
    }
  }
}

.mt-hero {
  &-shape-3 {
    left: 59%;
    top: 31%;
    z-index: 1;

    @media #{$lg} {
      left: 34%;
      top: 28%;
    }

    @media #{$md} {
      left: 30%;
      top: 29%;
    }
  }
}

.mt-hero {
  &-shape-4 {
    right: 300px;
    bottom: 130px;
    z-index: 1;

    @media #{$lg} {
      right: 100px;
      bottom: 80px;
    }

    @media #{$md} {
      right: 200px;
      bottom: 130px;
    }
  }
}

.mt-hero {
  &-shape-5 {
    right: 190px;
    top: 300px;
    z-index: 1;

    @media #{$md} {
      right: 120px;
      top: 300px;
    }
  }
}

.hero-bg-img {
  position: absolute;
  width: 43%;
  height: calc(100% - 100px);
  right: 0;
  bottom: 0;
  background: no-repeat;
  background-size: cover;
}
