@use '../../utils/' as *;

.mt-newsletter {
  &-margin {
    margin-top: -110px;
  }

  &-bg {
    padding: 80px;
    border-radius: 20px;

    @media #{$md} {
      padding-left: 40px;
      padding-right: 40px;
    }
    @media #{$xs} {
      padding: 60px 15px;
    }
  }

  &-box {
    @media #{$lg} {
      margin-top: 30px;
    }

    & form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @media #{$xs} {
        display: block;
      }
    }
    & input {
      border: 0;
      border-bottom: 1px solid #ffffff;
      color: var(--mt-white);

      &:focus {
        border-color: #ffffff;
        color: var(--mt-white);
      }

      @include mt-placeholder {
        color: #ffffff;
      }
    }
  }

  &-input {
    width: calc(100% - 215px);
    @media #{$xs} {
      width: 100%;
      margin-bottom: 20px;
    }

    & img {
      position: absolute;
      top: 22px;
      right: 0;
    }
    & i {
      position: absolute;
      top: 22px;
      right: 10px;
      font-size: 16px;
      color: var(--mt-body-color);
    }
  }

  &-back {
    font-size: 100px;
    color: var(--mt-sweet-vanilla);
    opacity: 0.2;
    margin: 0;
    position: absolute;
    left: 85px;
    bottom: -34px;
    letter-spacing: 1px;

    @media #{$xl} {
      font-size: 75px;
      left: 70px;
      top: -8px;
    }

    @media #{$md} {
      font-size: 75px;
      left: 30px;
    }
  }
  &-box-2 {
    & input {
      border-color: var(--mt-body-color);
      color: var(--mt-body-color);
      &:focus {
        border-color: var(--mt-body-color);
        color: var(--mt-body-color);
      }
      @include mt-placeholder {
        color: var(--mt-body-color);
      }
      &-back {
        color: var(--mt-sweet-vanilla);
        opacity: 1;
      }
    }
  }
}
