@use '../../utils/' as *;

.mt-team-area {
  @media #{$xl} {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media #{$lg,$md} {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }

  @media #{$xs } {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 70px !important;
  }
}

.mtteam {
  &__thumb {
    position: relative;
    & img {
      @media #{$xs} {
        width: 100%;
      }
    }
    &-2 {
      margin-left: 10px;
    }
    &-border {
      position: absolute;
      top: -10px;
      left: -10px;
      width: 100%;
      height: 100%;
      border: 1px solid #57595c;
      border-radius: 20px;
      z-index: -1;
    }
  }

  &__nav {
    @media #{$md,$xs} {
      margin-bottom: 20px;
    }

    & span {
      height: 12px;
      width: 12px;
      background-color: #dbdbdb;
      border-radius: 100%;
      margin: 0 20px;
    }
  }

  &__info {
    @media #{$xxlm, $xl,$xs} {
      margin-left: 0px !important;
    }

    @media #{$lg} {
      margin-left: 40px !important;
    }

    @media #{$md,$xs} {
      margin-left: 20px !important;
    }

    & span {
      font-size: 17px;
      color: var(--mt-body-color);
      line-height: 28px;

      & i {
        width: 60px;
        height: 2px;
        background-color: #d6d6d1;
        display: inline-block;
        transform: translateY(-5px);
        margin-right: 10px;
      }
    }
  }

  &__title {
    color: #0a0e1a;
    font-size: 30px;
    text-align: center;
    @media #{$md,$xs} {
      font-size: 25px;
    }
  }
  &-subtitle {
    margin-bottom: 10px;
    display: block;
  }
  &__social {
    & a {
      font-size: 25px;
      color: #0a0e1a;
      margin-right: 10px;

      @media #{ $xl} {
        font-size: 20px;
      }
    }
    &-2 {
      position: absolute;
      left: 0;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      transition: 0.5s;
      opacity: 0;
      visibility: hidden;
      & a {
        width: 50px;
        height: 50px;
        display: inline-block;
        color: var(--mt-common-black);
        line-height: 50px;
        border-radius: 50%;
        background-color: #fff;
        margin: 0 2px;
        font-size: 22px;
        &:hover {
          color: var(--mt-theme-color);
        }
      }
    }
  }
  &:hover {
    & .mtteam__social-2 {
      opacity: 1;
      visibility: visible;
      top: 50%;
      color: #000000;
    }
  }
}

.mt-swiper-team-button {
  display: inline-flex;
  font-size: 52px;
}
