@use "../../utils/" as *;

.mt-testimonial {
  &-main-wrapper {
    margin-left: -80px;
  }
  &-desc {
    font-size: 100px;

    @media #{$xl} {
      font-size: 75px;
    }

    @media #{$lg} {
      font-size: 60px;
    }

    @media #{$md} {
      font-size: 50px;
    }
    @media #{$xs} {
      font-size: 35px;
    }
  }
  &-author {
    &-name {
      margin-bottom: 8px;
      font-size: 30px;
      line-height: 1.33;
      font-weight: 400;
      color: var(--mt-white);
      font-family: var(--mt-font-heading);
    }

    &-desig {
      color: #57595c;
      font-size: 17px;
      margin-right: -75px;
      font-family: var(--mt-font-body);
      color: var(--mt-white);

      & span {
        height: 1px;
        width: 60px;
        background-color: #57595c;
        display: inline-block;
        transform: translateY(-5px);
        margin-right: 5px;
      }
    }
  }

  &-text {
    font-size: 60px;
    color: var(--mt-white);
    & i {
      font-size: 60px;
      color: var(--mt-theme-color-2);
    }
  }

  &-shape {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: -2;
  }
}
i.flaticon-quotes.flip-img {
  display: inline-block;
  transform: scaleX(-1);
  font-size: 60px;
  color: var(--mt-theme-color-2);
}
.mt-swiper-test-button {
  position: absolute;
  left: -100px;
  top: 34%;
  font-size: 52px;
  z-index: 9;
  display: inline-flex;

  @media #{$xxlm, $xl,$md} {
    left: 0;
    top: inherit;
    bottom: -12px;
  }

  @media #{$xs} {
    display: inline-block;
    position: static;
    margin-top: 30px;
  }
  @media #{$lg} {
    left: 0;
  }

  &-next {
    left: auto;
    right: -100px;

    @media #{$xxlm, $xl, $md} {
      left: 60px;
      bottom: -16px;
      right: inherit;
    }
    @media #{$xs} {
      display: inline-block;
      position: static;
      margin-top: 30px;
    }

    @media #{$lg} {
      right: 0;
    }
  }
}

.mt-rot-180 {
  transform: rotate(180deg);
}

.mt-testimonial-shape {
  & span {
    font-size: 668px;
    opacity: 0.15;

    @media #{$xl} {
      font-size: 530px;
      opacity: 0.15;
    }

    @media #{$lg} {
      font-size: 550px;
      opacity: 0.15;
    }

    @media #{$md} {
      font-size: 460px;
      opacity: 0.15;
    }
    @media #{$xs} {
      font-size: 390px;
      opacity: 0.15;
    }
  }

  &-thumb-1 {
    top: 110px;
    left: 0;

    @media #{$xl} {
      top: 70px;
    }
  }

  &-thumb-2 {
    top: 35px;
    right: -15px;
  }
}
.mt-testimonial-2 {
  &-shape-thumb-1 {
    top: 130px;
    right: 148px;
  }
  &-shape-thumb-2 {
    bottom: 100px;
    right: 317px;
  }
}

.mt-swiper-test-2-button {
  color: #fff;
  opacity: 0.5;
  display: inline-flex;
  font-size: 60px;
  &-next {
    color: #fff;
    font-size: 60px;
    opacity: 0.5;
  }
}

.mt-test-slider-arrow-2 {
  position: absolute;
  bottom: 20px;
  left: 500px;
  z-index: 999;

  & span {
    height: 12px;
    width: 12px;
    background-color: var(--mt-white);
    border-radius: 100%;
    margin: 0 20px;
    opacity: 0.5;
  }
}
