@use "../../utils/" as *;

.mtfaq-wrapper {
  padding: 20px 0;
}
.mt-accordion {
  &-header {
    margin: 0;
    display: flex;
  }
  &-item {
    border: 1px solid var(--mt-common-black);
    border-radius: 10px;
  }
  &-button {
    font-size: 20px;
    width: 100%;
    text-align: left;
    padding: 22px 30px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & span {
      font-size: 16px;
      color: #57595c;
    }
    &.collapsed {
      & span {
        transform: rotate(-90deg);
      }
    }
  }
  &-body {
    margin: 0px 30px;
    border-top: 1px solid var(--mt-body-color);
    padding-top: 15px;
    padding-bottom: 20px;
  }
}

.mtfaq-bg {
  height: 100%;
  background-size: cover;
  width: calc(50% - 56px);
  position: absolute;
  left: 0;
  border-radius: 0 20px 20px 0;
}
